<% include partials/header %>

<div class="container mt-3">
        <h1> Edit <%=blogPost.title%> </h1>
        <div class="card mx-3 my-3">
            <div class="container my-3">
                <form action="/blogposts/<%=blogPost._id%>?_method=PUT" method="POST" class="mx-3">
                        
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input name="blogpost[title]" type="text" class="form-control" id="title" value="<%=blogPost.title%>">
                        </div>

                        <div class="form-group">
                            <label for="image">Image URL</label>
                            <input name="blogpost[image]" type="text" class="form-control" id="image" value="<%=blogPost.image%>">
                        </div>

                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea name="blogpost[content]" class="form-control" id="content" rows="10"><%=blogPost.content%></textarea>
                        </div>

                        <div class="form-group">
                            <label for="type">Type</label>
                            <input name="blogpost[type]" type="text" class="form-control" id="type" value="<%=blogPost.type%>">
                        </div>

                        <button type="submit" class="btn btn-dark"> Confirm Changes </button>

                </form>
            </div>
        </div>
    </div>

<% include partials/footer %>