<% include partials/header %>

<div class="container-fluid my-3">

    <div class="row">
        <div class="col-6 col-md-3">
            <div id="sideprofile">
                <div class="card mx-3 my-3">
                    <img src="https://drive.google.com/uc?id=1peOm3hbxb43HXLWMYX1mFGrRSX9nKwmr" class="card-img-top" alt="">
                    
                    <div class="card-body">
                        <a href="/userportal"> <h4> Samarth Goyal </h4> </a>
                        <p class="card-text"> This is me. </p>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-9">        

            <div id="masonry">
            <% blogPosts.reverse().forEach(function(blogPost) { %>
                    
                        <% switch (blogPost.type) {
                            case 'Small Text' : %>
                                <div class="item">
                                    <div class="card mx-3 my-3">
                                        <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>">
                                        <div class="card-body">
                                            <h4> <%=blogPost.title %> </h4>
                                            <p class="card-text"> <%=blogPost.content %> </p>
                                        </div>
                                        <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary btn-block card-footer text-muted"> Read More </a>
                                    </div>
                                </div>
                            <% break;
                            
                            case 'Medium Text' : %>
                                <div class="item medium">
                                    <div class="card mx-3 my-3">
                                        <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                                        <div class="card-body">
                                            <h4> <%=blogPost.title %> </h4>
                                            <p class="card-text"> <%=blogPost.content %> </p>
                                        </div>
                                        <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary btn-block card-footer text-muted"> Read More </a>
                                    </div>
                                </div>
                            <% break;   

                            case 'Large Text' : %>
                            <div class="item large">
                                <div class="card mx-3 my-3">
                                    <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                                    <div class="card-body">
                                        <h4> <%=blogPost.title %> </h4>
                                        <p class="card-text"> <%=blogPost.content %> </p>
                                    </div>
                                    <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary btn-block card-footer text-muted"> Read More </a>
                                </div>
                            </div>
                        <% break;   

                        case 'Image Only' : %>
                            <div class="item thumbnail">
                                <div class="card mx-3 my-3">
                                    <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                                    <div class="card-body">
                                        <h4> <%=blogPost.title %> </h4>
                                        <p class="card-text"> <%=blogPost.content %> </p>
                                    </div>
                                    <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary btn-block card-footer text-muted"> Read More </a>
                                </div>
                            </div>
                        <% break; 

                        default : %>
                            <div class="item">
                                <div class="card mx-3 my-3">
                                    <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                                    <div class="card-body">
                                        <h4> <%=blogPost.title %> </h4>
                                        <p class="card-text"> <%=blogPost.content %> </p>
                                    </div>
                                    <a href="/blogposts/<%= blogPost._id %>" class="btn btn-dark btn-block card-footer"> Read More </a>
                                </div>
                            </div>
                        <% break; 

                        } %>
            <% }) %>
            </div>
        </div>
    </div>

</div>
<% include partials/footer %>