<% include partials/header %>

<div id="masonry" class="container-fluid mt-3">
<% blogPosts.forEach(function(blogPost) { %>
        
            <% switch (blogPost.type) {
                case 'Small Text' : %>
                    <div class="item">
                        <div class="card mx-3 my-3">
                            <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                            <div class="card-body">
                                <h4> <%=blogPost.title %> </h4>
                                <p class="card-text"> <%=blogPost.content %> </p>
                                <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary"> See Blog Post </a>
                            </div>
                        </div>
                    </div>
                <% break;
                
                case 'Medium Text' : %>
                    <div class="item medium">
                        <div class="card mx-3 my-3">
                            <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                            <div class="card-body">
                                <h4> <%=blogPost.title %> </h4>
                                <p class="card-text"> <%=blogPost.content %> </p>
                                <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary"> See Blog Post </a>
                            </div>
                        </div>
                    </div>
                <% break;   

                case 'Large Text' : %>
                <div class="item large">
                    <div class="card mx-3 my-3">
                        <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                        <div class="card-body">
                            <h4> <%=blogPost.title %> </h4>
                            <p class="card-text"> <%=blogPost.content %> </p>
                            <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary"> See Blog Post </a>
                        </div>
                    </div>
                </div>
            <% break;   

            case 'Image Only' : %>
                <div class="item thumbnail">
                    <div class="card mx-3 my-3">
                        <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                        <div class="card-body">
                            <h4> <%=blogPost.title %> </h4>
                            <p class="card-text"> <%=blogPost.content %> </p>
                            <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary"> See Blog Post </a>
                        </div>
                    </div>
                </div>
            <% break; 

            default : %>
                <div class="item">
                    <div class="card mx-3 my-3">
                        <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                        <div class="card-body">
                            <h4> <%=blogPost.title %> </h4>
                            <p class="card-text"> <%=blogPost.content %> </p>
                            <a href="/blogposts/<%= blogPost._id %>" class="btn btn-primary"> See Blog Post </a>
                        </div>
                    </div>
                </div>
            <% break; 

            } %>
<% }) %>
</div>


<% include partials/footer %>