<% include partials/header %>

<div class="container-fluid mt-3 back">
        <div class="card mx-3 my-3">
            <img src="<%=blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
            <div class="card-body">
                <h4> <%=blogPost.title %> </h4>
                <p class="card-text"> <%=blogPost.content %> </p>
            </div>
            
            <form action="/blogposts/<%=blogPost._id%>?_method=DELETE" method="POST" class="mx-3 mb-2">
                <a href="/blogposts" class="btn btn-warning"> Go Back </a>
                <a href="/blogposts/<%=blogPost._id%>/edit" class="btn btn-info"> Edit Post </a>
                <button type="submit" class="btn btn-danger"> Delete Post </button>
            </form>
        </div>
    </div>

<% include partials/footer %>